<div class="box">
    <div class="triangle"></div>
    <div class="box-item slogan">
        <img src="../../img/travel.jpg" alt="">
        <div class="item-title ">
            匆忙的脚步一直走了多久
            <br> 是否还记得来时的路？
        </div>
    </div>
    <div class="box-item slogan">
        <img src="../../img/travel.jpg" alt="">
        <div class="item-title">
            你是否总是感觉经历过的总是赶不上遗忘？
        </div>
    </div>
    <div class="box-item slogan">
        <img src="../../img/travel.jpg" alt="">
        <div class="item-title">
            读过的万卷长书
            <br> 总是抵不过时间的腐蚀？
        </div>
    </div>
    <div class="box-item slogan">
        <img src="../../img/travel.jpg" alt="">
        <div class="item-title">
            我们一直在路上
            <br> 却一直在遗忘，怎么能这样！
        </div>
    </div>
    <div class="box-item slogan">
        <img src="../../img/travel.jpg" alt="">
        <!--             <div class="item-title">
                不要因为走的太远
                <br> 而忘记了当初为什么出发
            </div> -->
        <div class="item-title">
            现在就 <a ui-sref="user.signup" class="text text-big text-hilight">加入</a> 五味
            <br> 找回那些过往！
        </div>
    </div>
</div>
<script>
$(function() {
    $('.box').width($('html,body').width()).height($('html,body').height())


    var sw = true,
        st = $(window).scrollTop()

    $(document).on("mousewheel DOMMouseScroll", function(e) {

        if (st > 200) {
            $('.header').addClass('header-collapsed')
        } else {
            $('.header').removeClass('header-collapsed')
        }
        var delta = e.originalEvent.wheelDelta || -e.originalEvent.detail
        e.preventDefault()
        if (sw) {
            if (delta > 0) {
                sw = false
                st -= $('.slogan').height()
                $('body,html').animate({
                    scrollTop: st
                }, 500, function() {
                    sw = true
                })
            } else {
                sw = false
                st += $('.slogan').height()
                $('body,html').animate({
                    scrollTop: st
                }, 500, function() {
                    sw = true
                })
            }
        }
        return false
    })

})
</script>
