<header class="header">
    <a href="/" class="logo"><i class="fa fa-connectdevelop"></i> 五味</a>
    <ul class="menu" ng-controller="user_dashboardController">
        <li class="menu-item"><i class="fa fa-user"  ui-sref="user.posts"></i>
            <ul class="profile-menu">
                <li>{{user.loginId}}</li>
                <li>Reading(s) <a href="#">2</a></li>
                <li>Travel(s) <a href="#">10</a></li>
            </ul>
        </li>
        <li class="menu-item" ng-click="logout()"><i class="fa fa-power-off"></i></li>
    </ul>
</header>
