 <header class="header">
        <a href="/" class="logo"><i class="fa fa-connectdevelop"></i> 五味</a>
        <div class="search">
             <div ng-controller="noteController"><div ><a ng-click="js_note_list()">浏览</a></div> </div>

      <!--   <% if(page !== "others"){ %> -->
         <!-- <form action="#"> -->
              <!-- <input type="text" class="search-input" name="s" id="s" placeholder="搜索游记/笔记"> -->
              <!-- <a href="#"><i class="fa fa-search"></i></a> -->
            <!-- </form> -->
        <!-- <%}else{%> -->
              <!-- <%}%> -->
        </div>
</header>