<div ng-controller="note_singleController" data-ng-init="init()">
    <div id="top">
        <i class="fa fa-rocket" aria-hidden="true"></i></div>
    <article class="article-detail">
        <header class="article-header">
            <div class="article-title">
                {{ note.title }}
            </div>
        </header>
        <div class="article-content">
            <p>{{ note.content }}</p>
        </div>
        <footer class="article-footer">
            <div class="center"><i class="fa fa-heart" ng-click="star()"></i></div>
            <div class="center liked-list"><span ng-repeat="p in note.stars">{{p}}</span> 点了赞</div>
            <p><a href="#/note/all" class="back">返回</a></p>
        </footer>
    </article>
</div>
<script>
$('.fa-heart').click(function() {
    $(this).toggleClass('liked')
})
</script>
