<div ng-controller="notesController">
    <div class="boxes notes">
        <div class="box note" ng-repeat="note in notes">
            <div class="triangle"></div>
            <div class="box-item">
                <img src="../../img/travel.jpg" alt="">
                <div class="item-title">
                    <!-- <i class="fa fa-book"></i> -->
                    <i class="fa fa-paper-plane"></i> <a ui-sref="note.detail({id:note._id})" class="text text-big text-hilight">{{note.title}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
