<div ng-controller="noteController">
    <div id="top">
        <i class="fa fa-rocket" aria-hidden="true"></i></div>
    <article class="article-detail">
        <header class="article-header">
            <div class="article-title">
                {{ note.title }}
            </div>
        </header>
        <div class="article-content">
            <p>{{ note.content }}</p>
        </div>
        <footer class="article-footer">
            <div class="center"><i class="fa fa-heart"></i></div>
            <div class="center liked-list">张三、李四、王五也点了赞</div>
        </footer>
    </article>
</div>
