<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MOO - TO SEE THE WORLD</title>
    <meta http-equiv="X-UA-Compatible" content="edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="./lib/normalize.css">
    <link rel="stylesheet" href="./lib/font-awesome.css">
    <link rel="stylesheet" href="./stylesheets/page.css">
    <script src="./lib/jquery.js"></script>
</head>

<body id="article">
    <div id="top"><i class="fa fa-rocket" aria-hidden="true"></i></div>
    <header class="header">
        <a href="#" class="logo"><i class="fa fa-connectdevelop"></i> 五味</a>
        <div class="search">
            <form action="#">
                <input type="text" class="search-input" name="s" id="s" placeholder="搜索游记/笔记">
                <a href="#"><i class="fa fa-search"></i></a>
            </form>
        </div>
    </header>
    <article class="article-detail">
        <header class="article-header">
            <div class="article-title">
                哲蚌寺 via bushuai
            </div>
        </header>
        <div class="article-content">
            <p>人的生命里有一种能量，它使你不安宁。说它是欲望也行，幻想也行，妄想也行，总之它不可能停下来，它需要一个表达形式。这个形式可能是革命，也可能是爱情；可能是搬一块石头，也可能是写一首诗。只要这个形式和生命力里的这个能量吻合了，就有了一个完美的过程。 一个彻底诚实的人是从不面对选择的，那条路永远会清楚无二地呈现在你面前，这和你的憧憬无关，就像你是一棵苹果树，你憧憬结橘子，但是你还是诚实地结出苹果一样。 </p>
            <p>西方爱情是强烈开放的花朵，东方爱情是两朵花之间微妙的芳香。 自由并不是你不知道干什么好，也不是你干什么都可以不坐牢；自由是你清楚无疑你要干什么，不装蒜，不矫揉造作，无论什么功利结果，会不会坐牢或者送死，都不在话下了。对于惶惑不知道干什么的人来说，自由是不存在的；对于瞻前顾后、患得患失的人来说，自由是不可及的。 一个人，生活可以变得好，也可以变得坏；可以活得久，也可以活得不久；可以做一个艺术家，也可以锯木头，没有多大区别。但是有一点，就是他不能 面目全非，他不能变成一个鬼，他不能说鬼话、说谎言，他不能在醒来的时候看见自己觉得不堪入目。一个人应该活得是自己并且干净。</p>
            <p> 命运不是风来回吹，命运是大地，走到哪里你都在命中。 贾宝玉是真性情，鲁智深也是真性情；鲁智深一句唱词儿”赤条条来去无牵挂”，贾宝玉眼泪就下来了，顿时就有了感觉。可是你让贾宝玉抡个棍子去打，那无疑是找死。他们爱好不同，性情很不一样，但是呢，都是真性情，它就通了。 从叶到花，或从花到叶，于科研是一个过程，而于生命自身则永远只在此刻。花和叶都是一种记忆方式。果子同时也是叶子。生命是闪耀的此刻，不是过程，就像芳香不需要道路一样。 中国人只创造了两个理想，一个是山中的桃花源，一个是墙里的大观园。
            </p>
            <p>我的笑话不过是把大观园搬到了山里，忘了林黛玉的药锄是葬花用的。 我到了新西兰一个小岛上，把身体交给了劳动。四年之后，有一天，我忽然看见黑色的鸟停在月亮里，树上的花早就开了，红花已经落了满地。这时候我 才感到我从文化中间、文字中间走了出来。万物清清楚楚地呈现在你的心里，一阵风吹过，鸟就开始叫了，树就开始响了。这个时候我明白了一个道理：只有在你生 命美丽的时候，世界才是美丽的。</p>
            <div class="center"><i class="fa fa-heart"></i></div>
            <div class="center liked-list">张三、李四、王五也点了赞</div>
        </div>
        <footer class="article-footer">
        </footer>
    </article>
    <footer class="footer"> Copyright &copy; 2016 五味</footer>
    <script>
    $(function() {

        $(window).scroll(function() {
            if ($(window).scrollTop() > 100) {
                $('#top').show()
            } else {
                $('#top').hide()
            }
        })

        $('#top').click(function() {
            $('body,html').animate({
                'scrollTop': 0
            }, 300)
        })

        $('.fa-heart').click(function() {
            $(this).toggleClass('liked')
        })

    })
    </script>
</body>

</html>
