<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MOO - TO SEE THE WORLD</title>
    <meta http-equiv="X-UA-Compatible" content="edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../lib/normalize.css">
    <link rel="stylesheet" href="../lib/font-awesome.css">
    <link rel="stylesheet" href="stylesheets/page.css">
    <script src="../lib/jquery.js"></script>
    
    <style>
    
    </style>
</head>

<body id="profile">
    <div class="angel"></div>
    <ul>
        <li>list ----- 1</li>
        <li>list ----- 1</li>
        <li>list ----- 1</li>
        <li>list ----- 1</li>
        <li>list ----- 1</li>
    </ul>
</body>

</html>
