<body id="index">
    {{message}}
    <header class="header">
        <a href="index.html" class="logo"><i class="fa fa-connectdevelop"></i> 五味</a>
        <div class="menu"><a href="explor.html">浏览</a></div>
    </header>
    <div class="main">
        <div class="form regform">
            <h2>身体灵魂，要有一个在路上</h2>
            <form action="">
                <div class="form-item">
                    <input type="text" name="name" id="name" placeholder="用户名" class="form-input">
                </div>
                <div class="form-item">
                    <input type="email" name="email" id="email" placeholder="邮箱" class="form-input">
                </div>
                <div class="form-item">
                    <input type="password" name="password" id="password" placeholder="密码" class="form-input">
                </div>
                <div class="form-item">
                    <input type="password" name="repassword" id="repassword" placeholder="确认密码" class="form-input">
                </div>
                <div class="form-item">
                    <button>注册</button>
                </div>
                <div class="form-link">已经有帐号？<a ui-sref="users.login" class="link-login">去登录</a></div>
            </form>
        </div>
    </div>
    <!--    <footer class="footer">
        Copyright &copy; 2016 五味
    </footer> -->
</body>
