<ul class="user-posts">
    <li>
        <h2>Tibet,Tibet</h2>
        <img src="../../img/travel.jpg" alt="">
        <div class="post-options">
            <i class="fa fa-pencil-square-o"> </i><i class="fa fa-trash-o"></i>
        </div>
    </li>
    <li>
        <h2>Tibet,Tibet</h2>
        <img src="../../img/travel.jpg" alt="">
        <div class="post-options">
            <i class="fa fa-pencil-square-o"> </i><i class="fa fa-trash-o"></i>
        </div>
    </li>
    <li>
        <h2>Tibet,Tibet</h2>
        <img src="../../img/travel.jpg" alt="">
        <div class="post-options">
            <i class="fa fa-pencil-square-o"> </i><i class="fa fa-trash-o"></i>
        </div>
    </li>
    <li>
        <h2>Tibet,Tibet</h2>
        <img src="../../img/travel.jpg" alt="">
        <div class="post-options">
            <i class="fa fa-pencil-square-o"> </i><i class="fa fa-trash-o"></i>
        </div>
    </li>
</ul>
