<div class="main">
    <div class="form regform">
        <h2>身体灵魂，要有一个在路上</h2>
        <form method="post" name="signupForm" ng-controller="signController" ng-submit="signup(signupForm.$valid)" novalidate>
            <div class="form-item">
                <input type="text" name="loginId" id="loginId" placeholder="用户名" ng-model="user.loginId" class="form-input" required>
            </div>
            <div class="form-item">
                <input type="email" name="email" id="email" placeholder="邮箱" ng-model="user.email" class="form-input" required>
            </div>
            <div class="form-item">
                <input type="password" name="password" id="password" placeholder="密码" ng-model="user.password" class="form-input" required>
            </div>
            <div class="form-item">
                <input type="password" name="repassword" id="repassword" placeholder="确认密码" ng-model="user.repassword" class="form-input" required>
            </div>
            <div class="form-item">
                <button ng-disabled="signupForm.$invalid">注册</button>
            </div>
            <div class="form-link">已经有帐号？<a ui-sref="user.signin" class="link-login">去登录</a></div>
        </form>
    </div>
</div>
<script>
$(function() {
    $main = $('.main')
    $main.height($('html,body').height())

    $('document').resize(function() {
        $main.height($('html,body').height())
    })
})
</script>
